@use "../../globals" as global;

.sidebar-wrapper {
  height: 100vh;
  background-color: global.$primary-background;
  width: 20%;
}
.logo-wrapper {
  position: relative;
  height: 10%;
  border-bottom: 1px solid global.$secondary-font-color;
}
.logo-content {
  width: 60%;
  margin: 0 auto;
  padding: 20px 10px;
}
.sidebar-content {
  padding: 0 10px;
  overflow: auto;
  height: 90%;
}
.list-heading-wrapper {
  margin: 10px 0;
}
.list-heading-wrapper h2 {
  color: global.$primary-font-color;
  font-weight: 400;
  font-size: 22px;
}
.category-link-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.category-link-wrapper:hover {
  background-color: global.$secondary-background;
}
.category-link {
  color: global.$primary-font-color;
  text-decoration: none;
  font-size: 18px;
  display: flex;
}
.category-link svg {
  margin-right: 20px;
  font-size: 20px;
}
.close {
  display: none;
}
@media (max-width: 768px) {
  .sidebar-wrapper {
    position: absolute;
    left: -100%;
    width: 50%;
    transition: all 0.3s ease;
  }
  .active {
    left: 0;
    z-index: 1;
  }
  .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: global.$secondary-font-color;
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .sidebar-wrapper {
    width: 90%;
  }
}
