@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-background: #0f0f0f;
$secondary-background: #272727;
$primary-font-color: #f1f1f1;
$secondary-font-color: #aaaaaa;
$brand-color: #ff0000;
$accent-color: #3ea6ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $primary-background;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-top: 60px solid $secondary-font-color;
}
