@use "../../../globals" as global;

.video-grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  padding: 0 40px;
}
@media (max-width: 820px) {
  .video-grid-section {
    padding: 0;
  }
}
@media (max-width: 300px) {
  .video-grid-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
  }
}
